#root {
  position: relative;
  width: 500px;
  height: 500px;
  border: 1px solid black;
}

.tile {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  transition: all 0.2s;
}

.inner {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 90%;
  height: 90%;
  border: 1px solid black;
}
