#root {
  display: grid;
  width: 500px;
  height: 500px;
  grid-template-columns: auto;
  grid-template-rows: auto;
  grid-gap: 5px 5px;
  border: 1px solid black;
  padding: 10px;
}

.tile {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid black;
}
